<!--<html wicket="xmlns:wicket">-->
<!--	<body>-->
		<wicket:panel>
		<div class="navigationPanel">
		<a class="firstPage" wicket:id="first">
			<img src="/Item/images/first_btn.gif" border="0"/>
		</a>
		
		<a class="prevPage" wicket:id="prev">
			<img src="/Item/images/previous_btn.gif" border="0"/>
		</a>
		
		<div wicket:id="navigation">
		<a class="pageLink" wicket:id="pageLink" href="#">
			<div wicket:id="pageNumber">5</div>
		</a>
		</div>
		
		<a class="nextPage" wicket:id="next">
			<img src="/Item/images/next_btn.gif" border="0"/>
		</a>
		
		<a class="lastPage" wicket:id="last">
			<img src="/Item/images/last_btn.gif" border="0"/>
		</a>
		</div>
		</wicket:panel>
<!--	</body>-->
<!--</html>-->